/* =--------------------------------------= Banner Partition Styles =------------------= */
.banner
	.banner__wrapper
		margin: auto
		grid-template-columns: 5fr 7fr
		align-items: center
		/* =--------= max-width: 1200px =----= */
		@media screen and (max-width: 1200px)
			grid-template-columns: 5.5fr 6.5fr
		/* =--------= max-width: 992px =----= */
		@media screen and (max-width: 992px)
			grid-template-columns: 1fr
		.banner__content
			.banner__sub__title
				font-family: $secondFont
				font-size: $largeFontSize
				font-weight: 600
				margin-bottom: 1rem
				display: block
			.banner__title
				font-size: $h1FontSize
				font-weight: 700
				line-height: 1.4
				span
					color: $firstColor
					font-size: $bigFontSize
			.banner__description
				font-size: $largeFontSize
				margin-block: 0.5rem 2rem
		.banner__image
			justify-self: flex-end
			/* =--------= max-width: 992px =----= */
			@media screen and (max-width: 992px)
				justify-self: center