/* =--------------------------------------= Sass Variables Normal =------------------= */
$headerHeight: 4rem

/* =----------= Transition =----= */
$transition: all 0.38s linear

/* =----------= Colors =----= */
$firstColor: hsl(176, 88%, 27%)
$firstColorAlt: hsl(129, 44%, 94%)
$secondColor: hsl(34, 94%, 87%)
$titleColor: hsl(0, 0%, 13%)
$textColor: hsl(154, 13%, 32%)
$textColorLight: hsl(60, 1%, 56%)
$bodyColor: hsl(0, 0%, 100%)
$wrapperColor: hsl(0, 0%, 93%)
$borderColor: hsl(129, 36%, 85%)
$borderColorAlt: hsl(113, 15%, 90%)
$boxShadow: 0.05rem 0.05rem 1rem 0.01rem $firstColor
$errorNegateColor: hsl(5.17,97.42%,30.39%)
$processingColor: hsl(57, 100%, 33%)

/* =----------= Font & Typography =----= */
/* =--------= Base =----= */
$bodyFont: "Lato", sans-serif
$secondFont: "Spartan", sans-serif
$bigFontSize: 3.5rem
$h1FontSize: 2.75rem
$h2FontSize: 2rem
$h3FontSize: 1.75rem
$h4FontSize: 1.375rem
$largeFontSize: 1.125rem
$normalFontSize: 1rem
$smallFontSize: 0.875rem
$smallerFontSize: 0.75rem
$tinyFontSize: 0.6875rem


/* =--------= max-width: 1200px =----= */
$bigFontSize1200px: 2.25rem
$h1FontSize1200px: 2rem
$h2FontSize1200px: 1.375rem
$h3FontSize1200px: 1.25rem
$h4FontSize1200px: 1.125rem
$largeFontSize1200px: 1rem
$normalFontSize1200px: 0.9375rem
$smallFontSize1200px: 0.8125rem
$smallerFontSize1200px: 0.6875rem
$tinyFontSize1200px: 0.625rem